.main{
  display: flex;
  flex-direction: column;
  align-items: center;
  border: solid 2px black;
  width: 300px;
  padding: 20px;
  margin: auto;
}

.buttons{
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
}

.button{
  padding: 15px 32px;
  color: white;
  font-size: 16px;
  border: none;
  width: 150px;
}

.button_inc{
  background-color: green;
}
.button_dec{
  background-color: red;
}

.action_section{
  display: flex;
  flex-direction: row;
  gap: 10px;
}

input{
  width: 60px;
  padding: 15px 10px;
  text-align: center;
}

.logs{
  display: flex;
  flex-direction: column;
  margin-top: 50px;
  align-items: center;
}

.logs_container{
  margin-top: 10px;
  border: solid 2px grey;
  padding: 2px;
  width: fit-content;
}